<div class="muloa" data-id="{{ block.id }}">
  <div><h2>{{ block.settings.heading }}</h2></div>
</div>

{% schema %}
  {
    "name": "Muloa",
    "settings": [
		{
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": 
			{
				"en":"en",
				"cn":"cn"
			}
     	 }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
